* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
}

#header {
   width: 100%;
   text-align: center;
   /* border-bottom: 2px solid white; */
   /* display: flex;
   justify-content: center; */
}

header h1 {
    background-color: #5A52FD;
    padding: .7rem;
    letter-spacing: .05rem;
    color: white;
}

#escola, button {
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 20px;
}

#escola {
    background-color: #fff;
    color: #06224a;
    width: 500px;
}

#escola:focus {
    outline: none;
}

button {
    margin-left: 10px;
    background-color: #5A52FD;
    color: white;
}

button:hover {
    background-color:#7068fc;
    transition: .3s;
    cursor: pointer;
}
/* 
img {
    width: 40px;
    border-radius: 5px;
} */